<p><strong>Chair:</strong><br>
Paul Farnsworth<br>
209 Gladfelter Hall<br>
<a href="tel:2152041424">(215) 204-1424</a><br>
<a href="mailto:paul.farnsworth@temple.edu">paul.farnsworth@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
L. Christie Rockwell<br>
025-21 Gladfelter Hall<br>
<a href="tel:2152047775">(215) 204-7775</a><br>
<a href="mailto:Christie.Rockwell@temple.edu">Christie.Rockwell@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047577">(215) 204-7577</a><br>
<a href="mailto:tua11422@temple.edu">tua11422@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
Yvonne Davis<br>
210 Gladfelter Hall<br>
<a href="tel:2152047775">(215) 204-7775</a><br>
<a href="mailto:yvonne.davis@temple.edu">yvonne.davis@temple.edu</a></p>
