<h2>Graduate Students</h2>
  
<p>Need Short Description</p>
  <ul>
 <li><a href="https://liberalarts.temple.edu/kristen-allen">Kristen Allen</a></li>
 <li><a href="https://liberalarts.temple.edu/susan-bachor">Susan Bachor</a><li>
 <li><a href="https://liberalarts.temple.edu/sonay-ban">Sonay Ban</a></li>
 <li><a href="https://liberalarts.temple.edu/grace-cooper">Grace Cooper</a><li>
 <li><a href="https://liberalarts.temple.edu/kevin-m-donaghy">Kevin M. Donaghy</a><li>
 <li><a href="https://liberalarts.temple.edu/julien-ehrenk-nig">Julien Ehrenkönig</a><li>
 <li><a href="https://liberalarts.temple.edu/blair-fink">Blair Fink</a><li>
 <li><a href="https://liberalarts.temple.edu/nikky-greer">Nikky Greer</a><li>
 <li><a href="https://liberalarts.temple.edu/nathan-jessee">Nathan Jessee</a><li>
 <li><a href="https://liberalarts.temple.edu/matthew-kalos">Matthew A. Kalos</a><li>
 <li><a href="https://liberalarts.temple.edu/chelsea-kaufman">Chelsea Kaufman</a><li>
 <li><a href="https://liberalarts.temple.edu/scott-kirkland">Scott Kirkland</a><li>
 <li><a href="https://liberalarts.temple.edu/heidi-knappenberger">Heidi Knappenberger</a></li>
 <li><a href="https://liberalarts.temple.edu/jeremy-koch">Jeremy Koch</a></li>
 <li><a href="https://liberalarts.temple.edu/melissa-krug">Melissa Krug</a></li>
 <li><a href="https://liberalarts.temple.edu/nicol-s-loaiza-d-az">Nicolás Loaiza-Díaz</a><li>
 <li><a href="https://liberalarts.temple.edu/dana-mu-z-pacheco">Dana Muñíz Pacheco</a><li>
 <li><a href="https://liberalarts.temple.edu/nicole-nathan">Nicole Nathan</a><li>
 <li><a href="https://liberalarts.temple.edu/kristina-nazimova">Kristina Nazimova</a><li>
 <li><a href="https://liberalarts.temple.edu/david-paulson">David Paulson</a><li>
 <li><a href="https://liberalarts.temple.edu/elysia-petras">Elysia Petras</a><li>
 <li><a href="https://liberalarts.temple.edu/jen-rankin">Jen Rankin</a><li>
 <li><a href="https://liberalarts.temple.edu/eryn-snyder">Eryn Snyder</a><li>
 <li><a href="https://liberalarts.temple.edu/hilary-symes">Hilary Symes</a><li>
 <li><a href="https://liberalarts.temple.edu/gina-tibbott">Gina Tibbott</a><li>
 <li><a href="https://liberalarts.temple.edu/andrew-van-horn">Andrew Van Horn </a><li>
 <li><a href="https://liberalarts.temple.edu/chelsea-voytek">Chelsea Voytek</a><li>
 <li><a href="https://liberalarts.temple.edu/k-eva-weiss">K. Eva Weiss</a><li>
 <li><a href="https://liberalarts.temple.edu/jesse-west-rosenthal">Jesse West-Rosenthal</a><li>
 <li><a href="https://liberalarts.temple.edu/keisha-wiel">Keisha Wiel</a><li>
 <li><a href="mailto:melissajaneheller@gmail.com">Autumn Zellers</a><li>
   </ul>
