<div>
  <h2>Graduate Students</h2>
    <p>Our graduate students are an intricate part of the learning and teaching experience here in the Department of Anthropology. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="" title="Sonay Ban">Sonay Ban</a></li>
        <li><a href="" title="Marie-France Baveye">Marie-France Baveye</a></li>
        <li><a href="" title="Grace Cooper">Grace Cooper</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/anthropology-department/ehrenk-nig-julien-0" title="Julien Ehrenkonig">Julien Ehrenkonig</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/anthropology-department/herpolsheimer-adam" title="Adam Herpolsheimer">Adam Herpolsheimer</a></li>
        <li><a href="" title="Michelle Hurtubise">Michelle Hurtubise</a></li>
        <li><a href="" title="Scott Kirkland">Scott Kirkland</a></li>
        <li><a href="" title="Heidi Knappenberger">Heidi Knappenberger</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/anthropology-department/macleod-kierra" title="Kierra MacLeod">Kierra MacLeodo</a></li>
        <li><a href="" title="Dana Muniz Pacheco">Dana Muniz Pacheco</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><a href="" title="Nicole Nathan">Nicole Nathan</a></li>
          <li><a href="" title="Kristina Nazimova">Kristina Nazimova</a></li>
          <li><a href="" title="David Paulson">David Paulson</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/anthropology-department/petras-elysia" title="Elysia Petras">Elysia Petras</a></li>
          <li><a href="" title="Emaline Reyes">Emaline Reyes</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/anthropology-department/ruhnke-lauren" title="Lauren Runhke">Lauren Runhke</a></li>
          <li><a href="" title="Eva Weiss">Eva Weiss</a></li>
          <li><a href="" title="Ryan Wheatley">Ryan Wheatley</a></li>
          <li><a href="" title="Kiesha Weil">Kiesha Weil</a></li>
          <li><a href="" title="Claudia Zamora Valencia">Claudia Zamora Valencia</a></li>
        </ul>
      </div>
    </div>
  </div>
